@model UserTrabajador

@{
    ViewData["Title"] = "Worker´s Data";
}

<script src="https://kit.fontawesome.com/16bd784e77.js" crossorigin="anonymous"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1 class=" animate__animated animate__flash">Worker´s Data</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="@ViewBag.State">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <i class="fas fa-user-circle"></i>
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <i class="fas fa-user-circle"></i>
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <i class="fas fa-sort-numeric-up-alt"></i>
                            <label asp-for="Age" class="control-label"></label>
                            <input asp-for="Age" class="form-control" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                    <div class="form-group">
                        <i class="far fa-envelope"></i>
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <i class="fas fa-key"></i>
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-controller="Home"  asp-action="MenuTrabajador">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
