
@{
    ViewData["Title"] = "Bienvenida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuario</h1>

<div class="text-center">
    <h1 class="display-4">Welcome, select the option you want</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div style="position:fixed;right:370px; bottom:525px;" class="text-white">
    <a asp-controller="Empresa" asp-action="ListaEmp" class="btn btn-success">
        <i class="fas fa-plus"></i>Lista de Empresas
    </a>
</div>
<div style="position:fixed;right:250px; bottom:525px;" class="text-white">
    <a asp-controller="Anuncio" asp-action="Index" class="btn btn-success">
        <i class="fas fa-plus"></i>Ver Anuncios
    </a>
</div>
<div style="position:fixed;right:100px; bottom:525px;" class="text-white">
    <a asp-controller="Trabajador" asp-action="WorkerList" class="btn btn-success">
        <i class="fas fa-plus"></i>Lista de Usuarios
    </a>
</div>