@model Usuario

@{
    ViewData["Title"] = "User´s Data";
}

<link rel="stylesheet" href="~/css/FondoNuevo.css" />
<script src="https://kit.fontawesome.com/16bd784e77.js" crossorigin="anonymous"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1 class=" animate__animated animate__flash">User´s Data</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="@ViewBag.State">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <i class="fas fa-user-tie"></i>
                        <label asp-for="Nombres" class="control-label"></label>
                        <input asp-for="Nombres" class="form-control" />
                        <span asp-validation-for="Nombres" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <i class="fas fa-user-tie"></i>
                        <label asp-for="Apellidos" class="control-label"></label>
                        <input asp-for="Apellidos" class="form-control" />
                        <span asp-validation-for="Apellidos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <i class="fas fa-mobile"></i>
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <i class="fas fa-at"></i>
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <i class="fas fa-key"></i>
                        <label asp-for="Contraseña" class="control-label"></label>
                        <input asp-for="Contraseña" class="form-control" id="Show" />
                        <span asp-validation-for="Contraseña" class="text-danger"></span>

                        <label>Ocultar Contraseña</label>
                        <input type="checkbox" name="" onclick="myFunction()">
                        <br><br>
                    </div>

                    <script type="text/javascript">
                        function myFunction() {
                            var Show = document.getElementById('Show');
                            if (Show.type == 'password') {
                                Show.type = 'text';
                            }
                            else {
                                Show.type = 'password';
                            }
                        }
                    </script>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="UserList">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>