@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html, body{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

.Titulo{
    text-align: center;
    font-family: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
}


.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .Card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.2s;
}

.container .Card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .Card img{
    width: 330px;
    height: 220px;
}

.container .Card h4{
    font-weight: 600;
}

.container .Card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .Card a{
    font-weight: 500;
    text-decoration: none;
    color: #3498;
}

.DivContenedor{
   align-content: center;
   justify-content: center;
   display: grid;
   height: 145px;
   
}

.btn{
    border: 3px solid rgba(100, 100, 100, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    color: #FFF;
    background-size: 200%;
}

.btn:hover{
    background-position: right;
}

.btn1{
    background-image: linear-gradient(to left, #00B7DA, #161569, #00B7DA);
}














