@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO A JOBTIND21</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div style="position:fixed;right:650px; bottom:350px;" class="text-white">
    <a asp-controller="Empresa" asp-action="Bienvenida" class="btn btn-success">
        <i class="fas fa-plus"></i>Empresa
    </a>
</div>
<div style="position:fixed;right:650px; bottom:250px;" class="text-white">
    <a asp-controller="Trabajador" asp-action="Bienvenue" class="btn btn-success">
        <i class="fas fa-plus"></i>Usuario
    </a>
</div>