@{
    ViewData["Title"] = "Bienvenido";
}

<head>
    <link rel="stylesheet" href="~/css/Inicio.css" />

</head>
<body>
<header>
    <h1> BIENVENIDO A JOBTIND21</h1>
</header>
<br>
<br>
<br>
<a href="Home/Menu" class="btn-Inicio" > 
    <span id="span1"></span>
    <span id="span2"></span>
    <span id="span3"></span>
    <span id="span4"></span>
    INICIO
</a>

<div class="burbujas">
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
</div>
</body>