@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">BIENVENIDO A JOBTIND21</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div style="position:fixed;right:650px; bottom:350px;" class="text-white">
    <a asp-controller="Empresa" asp-action="Bienvenida" class="btn btn-success">
        <i class="fas fa-plus"></i>Empresa
    </a>
</div>
<div style="position:fixed;right:650px; bottom:250px;" class="text-white">
    <a asp-controller="Trabajador" asp-action="Bienvenue" class="btn btn-success">
        <i class="fas fa-plus"></i>Usuario
    </a>
</div>*@

<head>
    <link rel="stylesheet" href="~/css/Inicio.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"  type="text/css"/>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js>" />
</head>

<body>
    <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
    </div>

    <div class="abc">

        <b style="color: black;" class="animate__animated animate__backInDown">BIENVENIDO: </b>
        <p class="animate__animated animate__backInDown"></p>
            <div class="letter">
                JOBTIND21,<br />
                aplicacion<br />
                para poder encontrar<br />
                las mejores oportunidades.<br />
            </div>
        
    </div>
    <div class="banner_img">
        <img src="~/css/Proyec.jpg" alt="" class="animate__animated animate__backInDown">
    </div>

</body>