<head>
    <link rel="stylesheet" href="~/css/Info.css" />
</head>

<body>

    <h1 class="Titulo">Información JOBTIND21</h1>

    <div class="container">

        <div class="Card">
            <img src="~/css/Imagenes2/Trabajo1.jpg">
            <h4>¿Cómo Nace Jobtind21?</h4>
            <p>
                Para facilitar a las organizaciones o trabajadores la busqueda de oportunidades de Trabajo
            </p>
            <a href="#">Leer mas</a>
        </div>

        <div class="Card">
            <img src="~/css/Imagenes2/Trabajo2.jpg">
            <h4>Objetivos</h4>
            <p>
                Ofrecer una interfaz amigable y de facil manipulación,asi como rapidez en la busqueda de resultados
            </p>
            <a href="#">Leer mas</a>
        </div>

        <div class="Card">
            <img src="~/css/Imagenes2/Trabajo3.jpg">
            <h4>Áreas a Emplementar</h4>
            <p>
                Jobtind21 Lo podemos emplear en diversas áreas como:
                <br>
                * Áreas Industriales
                <br>
            </p>
            <a href="#">Leer mas</a>
        </div>

    </div>
    <div class="DivContenedor">
        <button class="btn btn1"> @Html.ActionLink("Inicio", "Menu")</button>

    </div>
</body>