

<head>

    <link rel="stylesheet" href="~/css/Menu.css" />
</head>


<body>
    <nav>
        <ul class="menu-horizontal">
            <li><a href="/Home/Index">Inicio</a> </li>
            <li>
                <a href="Informacion">JOBTIND21</a>
                <ul class="menu-vertical">
                    <li><a href="/Home/Informacion">Informacion</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Crear Cuentas</a>
                <ul class="menu-vertical">
                    <li><a href="/Usuario/SaveUser">Cuenta Usuario</a></li>
                    <li><a href="/Empresa/SaveEnterprise">Cuenta Empresa</a></li>
                </ul>
            </li>
            <li><a href="/Anuncio/Index">Anuncios</a> </li>
            <li>
                <a href="#">Empresas</a>
                <ul class="menu-vertical">
                    <li><a href="/Empresa/CompanyList">Ver Empresas</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Trabajadores</a>
                <ul class="menu-vertical">
                    <li><a href="/Trabajador/WorkerVist">Ver Trabajadores</a></li>
                </ul>
            </li>
        </ul>

    </nav>
    <section class="banner contenedor">
        <section class="banner_title">
        </section>
    </section>
        <div class="banner_img">
            <img src="~/css/Imagenes/Proyec.jpg" alt="" class="animate__animated animate__backInDown">
        </div>

        <div class="Madein">
            <a href="https://www.safecreative.org/work/2111299929403-jobtind21">Made In EL SALVADOR</a>
         
        </div>
        <div class="Logo">
        </div>
</body>