@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>

    <link rel="stylesheet" href="~/css/MenuTrabajador.css" />
</head>


<body>
    <nav>
        <ul class="menu-horizontal">
            <li><a href="/Home/Index">Inicio</a> </li>
            <li>
                <a href="Informacion">JOBTIND21</a>
                <ul class="menu-vertical">
                    <li><a href="/Home/Informacion">Informacion</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Crear Cuentas</a>
                <ul class="menu-vertical">
                    <li><a href="/Trabajador/AddTrabajador">Cuenta Trabajador</a></li>
                </ul>
            </li>
            <li><a href="/Anuncio/VerMas">Anuncios</a> </li>
            <li>
                <a href="#">Empresas</a>
                <ul class="menu-vertical">
                    <li><a href="/Empresa/ListaEmp">Ver Empresas</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Lista Trabajadores</a>
                <ul class="menu-vertical">
                    <li><a href="/Trabajador/WorkerList">Lista</a></li>
                    <li><a href="/Trabajador/Descripcion">Informacion</a></li>
                </ul>
            </li>
        </ul>

    </nav>
    <section class="banner contenedor">
        <section class="banner_title">
        </section>
    </section>
    <div class="banner_img">
        <img src="~/css/Imagenes/Proyec.jpg" alt="" class="animate__animated animate__backInDown">
    </div>

    <div class="Madein">
        <h1>Made In EL SALVADOR</h1>
    </div>
    <div class="Logo">
    </div>
  
</body>